@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&family=Space+Mono:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'League Spartan', sans-serif;
  font-size: 15px;
  background-color: hsl(180, 52%, 96%);
  color: hsl(180, 29%, 50%);
}
.users{
  padding: .5rem;
}
.new{
  margin: 2rem 0;
}
.container{
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem 0;
}

/* CARD */

.card{
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2rem;
  justify-content: space-between;
}
.card-info-image{
  margin-right: 1rem;
}
.card-info{
  display: flex;
  align-items: center;
}

/* .card-info-data{

} */
.card-info-company{
  display: flex
}

.card-info-position{
  color: black;
  margin: 10px 0;
  font-size: 1.25rem;
  font-weight: 700;
}

ul{
  display: flex;
  gap: 1rem;
  color: hsl(180, 8%, 52%);
}

li:first-child{
  list-style:none;
}

/* card tools */
.card-tools{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}

.card-tools-item{
  background-color: hsl(180, 52%, 96%);
  padding: .5rem 1rem;
}

.card-tools-item:hover{
  cursor: pointer;
  color: white;
  background-color: hsl(180, 29%, 50%);
}

/* form */
.form-card{
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 2rem;
}
.form{
  display: flex;
  flex-direction: column;
}
.form input{
  margin-left: .5rem;
  border: .1px solid grey;
  padding: 3px;
  outline: none;
  border-radius: 4px;
  color: hsl(180, 8%, 52%);
}
.form-text{
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: .5rem;
}
.form-text label{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.form-text input{
  width: 70%;
}
.form p{
  margin-top: 1rem;
  margin-bottom: .25rem;
}
.btn-submit{
  align-self: flex-start;
  margin-top: 1rem;
  padding: .3rem .7rem;
  background-color: hsl(180, 52%, 96%);
  color: inherit;
  font-weight: 700;
  border: none;
}
.btn-submit:hover{
  cursor: pointer;
  color: white;
  background-color: hsl(180, 29%, 50%);
}

/* Delete */
.delete{
  border: none;
  background-color: inherit;
  position: absolute;
  right: 30px;
  top: 15px;
}
.delete:hover, .edit:hover{
  cursor: pointer;
}
.edit{
  border: none;
  background-color: inherit;
  position: absolute;
  right: 55px;
  top: 15px;
}

.filter{
  gap: 1rem
}

.filter :nth-child(2){
  margin-left: auto;
}